* {
    /* font-family: "Roboto", serif; */

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.flat {
    height: 400px;
    width: 300px;
    background-color: rgba(147, 24, 147, 0.686);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.but {
    height: 8%;
    width: 40%;
    color: white;
    background-color: rgb(233, 19, 158);

}

h1 {
    color: white;
}