.Tanuja {
    background-color: aqua;
    height: 200px;
    width: 200px;
}

#css1 {
    background-color: yellow;
}

#css2 {
    background-color: lightcoral;
}

#css3 {
    background-color: rgb(25, 214, 25);
}

#css4 {
    background-color: rgb(223, 23, 26);
}

#css5 {
    background-color: blue;
}